

body{
   background-color:rgb(244, 243, 250);
    padding: 1%;
}

.first-row-body{
    height: 70vh;
}

.add, .delete, .print-button{
    border-radius: 5px; 
    padding: 3px 15px;
    color: white;
    cursor: pointer;
}

.add{
    border: none;
    background-color: rgb(16, 121, 172);
}



.delete{
    background-color: rgb(238, 43, 41);
}

.print-button > *{
    color: white;
    text-decoration: none;
}





