

body{
    padding: 0 1em;
    height: 80%;
    background-color: aliceblue;
}

.body-container{
    margin: 3em 10em; 
    height: 75vh;
}

.add,  .vice-captain, .print-button{
    border-radius: 5px; 
    padding: 3px 15px;
    color: white;
    cursor: pointer;
}

.add{
    background-color: rgb(16, 121, 172);
}



.vice-captain{
    background-color: rgb(238, 43, 41);
}



.print-button{
    padding: 5px 30px;
}




